@page "/acctType/{id:int}"
@inject IAcctTypeService AcctTypeService

@if(acctType == null)
{
    <span>@message</span>
} else
{
    <div class="media">
        <div class="media-body">
            <h2 class="mb-0">@acctType.Name</h2>
        </div>
        
    </div>
}

@code {
    private AcctType? acctType = null;
    private string message = string.Empty;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        message = "Loading Account Type";

        var result = await AcctTypeService.GetAcctTypeById(Id);
        if (!result.Success)
        {
            message = result.Message;
        } 
        else
        {
            acctType = result.Data;
        }
    }

}
