@inject IAcctTypeService AcctTypeService

<MudText Typo="Typo.h3">Account Types</MudText>
<MudDivider></MudDivider>
<MudDivider DividerType="DividerType.Middle"></MudDivider>
<MudPaper Width="90%">

    @if (AcctTypeService.AcctTypes == null || AcctTypeService.AcctTypes.Count == 0)
    {
@*       <div class="text-center">
           <img src="/images/ajax-loader.gif">
       </div>*@
       <span>Loading Acctount Types</span>
    }
    else
    {
        <MudTable Items="@AcctTypeService.AcctTypes" Hover="true" CanCancelEdit="true">
            <HeaderContent>
                <MudTh>Id</MudTh>
                <MudTh>Name</MudTh>
                <MudTh>Edit</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="Edit">
                    <a href="/acctType/@context.Id">
                        Edit
                    </a>
                </MudTd>
            </RowTemplate>

        </MudTable>
    }
</MudPaper>



@code {
    private static List<AcctType> AcctTypes = new List<AcctType>();

    protected override async Task OnInitializedAsync()
    {
        await AcctTypeService.GetAcctTypes();
    }


}
